body.is-dragover {
	background-color: #cff;
}
.basicUsage {
	background-color: #ff9;
	border: solid 1px #99c;
	border-radius: 4px;
	padding: 0.5em;
}

.player {
	text-align: center;
}
.player-time {
	box-sizing: border-box;
	display: block;
	margin: auto;
	width: 90%;
}

.soudList-item.is-supported {
	cursor: pointer;
}
.soudList-item:not(.is-supported) {
	color: #999;
	cursor: default;
}
.soudList-item.is-supported:hover {
	text-decoration: underline;
}
