body.is-dragover {
	background-color: #cff;
}
.basicUsage {
	background-color: #ff9;
	border: solid 1px #99c;
	border-radius: 4px;
	padding: 0.5em;
}

.player {
	text-align: center;
}
.player-time-range {
	background-color: #cfc;
	height: 90px;
	margin-left: 0;
	margin-bottom: -90px;
	width: 100%;
}
.player-time {
	box-sizing: border-box;
	display: block;
	height: 30px;
	margin: auto;
	padding: 0;
	width: 100%;
}

.soundList-item.is-supported {
	cursor: pointer;
}
.soundList-item:not(.is-supported) {
	color: #999;
	cursor: default;
}
.soundList-item.is-supported:hover {
	text-decoration: underline;
}
